
footer {
    background-color: black;
    position:fixed;  /*If i remove this it goes up again, how come?*/
    bottom:0;  /*Footer to the bottom*/
    padding:10px;
    width: 100%;
    text-align: right;
}

p{
    padding-right: 30px;
}