
header {
    /*grid-area: header;*/
    background-color: red;
    text-align: center;
    position: fixed;
    width: 100%;
}

#toggle_menu {
    display:none;
}

.menu_button_icon{
    position:absolute;
    top: 0;
    right:0;
    margin-right: 1em;
    display: flex;
    align-items: center;
    height: 100%;
}

.menu_button_icon span,                     /*I dunno what all this means*/
.menu_button_icon span::before,
.menu_button_icon span::after {
    display: block;
    background-color: pink;
    height: 4px;
    width: 2em;
    border-radius: 4px;
    position: relative;
}
.menu_button_icon span::before,
.menu_button_icon span::after {
    content: '';  /*ellers er de ikke synlige*/
    position: absolute;
}
.menu_button_icon span::before{    /*Laver de to sidste streger i burgermenuen*/
    bottom:7px;
}
.menu_button_icon span::after{
    top:7px;
}

nav{
    position: absolute;
    background-color: yellow;
    display:none;
    width: 100%;
    text-align: right;
    top: 100%;
}

li{
    list-style: none;
}

li a{
    color: black;
    text-decoration: none;
}

li a:hover{
    color: gray;
}

#toggle_menu:checked + nav { /* ~ = tilde, vælger alle søskende til nav. + vælger alle nav direkte efter toggle*/
    display: block;
}

@media screen and (min-width:800px) {
    .menu_button_icon{
        display:none;
    }

    header{
        display:flex;
    }
    header h1{
        margin-left: 20px;
    }

    nav{
        display: block;
        position: absolute;
        top: 25%;
        width: 50%;
        right: 0;
    }

    nav ul {
        display: flex;
        justify-content: space-evenly;
    }

    nav li {
        display: inline-block;
        text-align: center;
    }

}