










.centerpiece{
    text-align: center;
    color: #bf9228;
}

img {
    border-radius: 50%;
    border: 5px solid #bf9228;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    max-width: 500px;
    margin-top: 50px;
}

#visit p{
    color: rgba(245, 246, 229, 0.3);
    font-style: italic;
}

.centerpiece a {
    text-decoration: none;
}

#visit:hover p{
    color: rgba(245, 246, 229, 0.5);
    text-decoration: underline;
}


@media screen and (min-width:900px) {
    .centerpiece{
        font-size: 80px;
    }
}