* {
    margin: 0;
    padding: 0;
}

body {
    display: flex; /* Using flex instead of grid here, as header, main, footer is one dimensional */
    flex-direction: column;
    min-height: 100vh;
    background-color: #0B1308;
}

main {
    flex: 1;
    margin-top: 50px;
    padding: 0px 50px;
}

h1{
    color: #bf9228;
}

p{
    color: #f5f6e5;
}

@media screen and (min-width:800px) {
    main{
        padding: 100px 100px;
    }
}

@media screen and (min-width:1500px) {
    main{
        padding: 20px 400px;
    }
}
