* {
    margin: 0;
    padding: 0;
}
.gallery {
    text-align: center;
}
.gallery article {
    padding-top: 20px;
    padding-bottom: 70px;
}

.gallery article .img_container img {
    width: 70%;
    border: 5px solid #bf9228;
    border-radius: 5%;
}

.gallery article .text_container {
    flex: 2;
    padding-left: 20px;
    padding-right: 20px;
}

@media screen and (min-width: 800px) {
    .gallery article {
        display: flex;
    }

    .gallery article .img_container {
        flex: 1;
    }

    .gallery p{
        font-size: 30px;
    }
    .gallery h1{
        font-size: 50px;
    }
    .gallery article:nth-child(2n) { /*tag fat i hver anden article html tag*/
        flex-flow: row-reverse;
        text-align: right;
    }

}
