* {
    margin: 0;
    padding: 0;
}

.gallery article {
    padding: 50px;
    text-align: center;
}

.gallery article .img_container img {
    width: 100%;
    border: 5px solid #bf9228;
    border-radius: 5%;
}

.gallery article .text_container {
    flex: 2;
    padding: 20px 20px;
}

@media screen and (min-width: 800px) {
    .gallery article {
        text-align: left;
        display: flex;
    }

    .gallery article .img_container {
        flex: 1;
    }

    .gallery article:nth-of-type(2n) { /*tag fat i hver anden article html tag*/
        flex-flow: row-reverse;
        text-align: right;
    }

    hr {
        margin: auto;
        border: 3px solid #f5f6e5;
        border-radius: 5px;
    }
}
