* {
    margin: 0;
    padding: 0;
}

body, html{
    /*min-height: 100vh;*/
    /*Removes the white spate around my elements*/
    /*er der en grund til at skrive html?*/
}

body {
    display: flex; /* Using flex instead of grid here, as header, main, footer is one dimensional */
    flex-direction: column;
    min-height: 100vh;
}

.container {
    background-color: darkolivegreen;
    /*display:grid;*/
    /*grid-template-areas:*/
    /*'header header header'*/
    /*'main main main'*/
    /*'footer footer footer';*/
    /*height: 100vh;*/
}

header {
    /*grid-area: header;*/
    background-color: red;
    text-align: center;
    position: fixed;
    width: 100%;
    /*z-index: 999; placér forrest/øverst */
}

main{
    /*grid-area: main;*/
    background-color: green;
    flex: 1;
    padding: 10px;
}

img ~ p {
    background-color: yellow;
}

footer {
    /*grid-area: footer;*/
    background-color: blue;
    position:fixed;  /*If i remove this it goes up again, how come?*/
    bottom:0;  /*Footer to the bottom*/
    padding: 10px;
    width: 100%;
}

#toggle_menu {
    display:none;
}

.menu_button_icon{
    position:absolute;
    top: 0;
    left:0;
    margin-left: 1em;
    display: flex;
    align-items: center;
    border: 1px solid black;
    height: 100%;
}

.menu_button_icon span,
.menu_button_icon span::before,
.menu_button_icon span::after {
    display: block;
    background-color: pink;
    height: 4px;
    width: 2em;
    border-radius: 4px;
    position: relative;
}
.menu_button_icon span::before,
.menu_button_icon span::after {
    content: '';
    position: absolute;
}
.menu_button_icon span::before{
    bottom:7px;
}
.menu_button_icon span::after{
    top:7px;
}


nav{
    position: absolute;
    background-color: yellow;
    display:none;
    width: 100%;
    text-align: left;
}

li{
    list-style: none;
}

li a{
    color: black;
    text-decoration: none;
}

li a:hover{
    color: gray;
}

#toggle_menu:checked + nav { /* ~ = tilde, vælger alle søskende til nav. + vælger alle nav direkte efter toggle*/
    background-color: blue;
    display: block;
}

/*Hover effect?*/

@media only screen and (min-width: 600px) { /*Når skærmen bliver mindst 600px ændres baggrunden*/
    .container {
        background-color: lightblue;
    }
}